'Propiedades y fairness'
'Sincronización por Variables Compartidas'
Addison Wesley - Foundations Of Multithreaded Parallel And Distributed Programming.pdf
Propiedades y fairness/
Sincronización por Variables Compartidas/
Ananth Grama_ Anshul Gupta_ George Karypis_ Vipin Kumar - Introduction to Parallel Computing-Pearson _ Addison Wesley (2003)(Z-Lib.io).pdf
